/*
$steelBlue: #004861;
$lightBlue: #00a3c8;
body{
    color: #eee;
    background-color: #fc3;
}

.large-hero{
    color: $steelblue;
    
    h2{
       color: $lightblue;
    }
}

.columns{
    columns: 3;
}*/



/*--------------------------------------------------------------------------------------------*/



/*
    *    FILE ARCHITECTURE
    *    IDENTIFY PATTERNS IN DESIGN
    *    Rules to be followed to the name the classes of CSS
    *    doesnot allow relative path
    *    B - Block
    *    E - Element
    *    M - Modifier
*/



@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import"base/_global";
@import"modules/_grid";
@import"modules/_helper";
@import"modules/_services";
@import"modules/_counter";
@import"modules/_header";
@import"modules/_footer";
@import"modules/_testimonial";
@import"modules/_headings";
@import"modules/_large-hero";
@import"modules/_reveal-item";
@import"modules/_form";
@import"modules/_contact-box";
@import"modules/_modal";
@import"modules/_btn";











