.btn{
    display: inline-block;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.75rem;
 /*    font-size 14.95 rahega toh divide it by 16 to convert it to REM */
    
    @mixin smallScreen{
        font-size: 0.915rem;
    }
    @mixin mediumScreen{
        padding: 0.75rem 1.5rem;
    }
    
    &-white{
        background-color: $white;
        color: $mainBlue;
    }
    
    &-blue{
        color: #fff;
        background-color: $mainBlue;
    }
    &:hover{
        background-color: $btnHoverBlue;
    }
}